<div class="about-layout">
  <img src="../../assets/logoskill.png" alt="skillsafari-logo" />
  <p style="background-color: rgb(19, 167, 205)">
    Part of the hundreds of activities we have for you. From giveaways to coding
    challenges, we have everything to keep your mind busy. We also have you
    covered for the latest news in technology along with getting you new
    insights about what companies and recruiters are looking for in their
    candidates. So what are you waiting for? Join the adventure now!
  </p>
  <iframe
    width="120%"
    height="300vh"
    src="https://www.youtube.com/embed/4i-U4HO1_6o"
    frameborder="0"
  ></iframe>
</div>
