<body>
  <h1>welcome to Home</h1>
  <p style="color: aliceblue; background-color: #606c38">
    Best Software Developer Training Institute in Coimbatore with 100% Job
    Guarantee Introducing 1st Offline Cohort for Full Stack Developer Program in
    Coimbatore. Start your career and get trained in skills that are essential
    for securing a dream job as a software developer. This offline training in
    Coimbatore offers 100% placement assurance in leading tech companies in
    India. Join the program and get a job with a salary package not less than 5
    LPA. Feel Free to get in touch with us.<br />
    Who are eligible for Coimbatore’s Super 30 batch on Full Stack Developer
    Program?<br />
    Step 1: Take up the challenge - SAST, get a score of 40% and above <br />
    Step 2: Attend a Counsel Interview with our expert counselors <br />
    Step 3: Submit your essential documents <br />
    Step 4: Get your Documents Verified <br />
    Step 5: You’re welcome to Coimbatore’s Super 30 Batch of Awesome Web
    Developers
  </p>
</body>
